*{
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
	font-family: 'Poppins', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
header{
	width: 850px;
	height: 25vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.title{
	width: 50%;
	padding-left: 50px;
	font-family: 'PT Serif', serif;
	font-weight: 700;
}
.description{
	width: 50%;
	height: 100%;
	padding-left: 20px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

}
.description h2{
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
}
p{
	width: 380px;
	font-size: 18px;
	font-weight: 400;
}
.crew{
	width: 850px;
	height: 800px;
	padding-top: 80px;
	display: grid;
	grid-template-columns:repeat(3,auto);
	grid-template-rows:repeat(3,auto);
	justify-content: space-evenly;
}
.member{
	display: flex;
}
.member h2{
	font-size: 18px;
	font-weight: 600;
}
.member h3{
	padding-left: 10px;
	font-family: 'Pt Serit', serif;
	font-weight: 400;
	font-size: 12px;
	text-transform: uppercase;
	writing-mode: vertical-lr;

}
.dos, .cinco{
	padding-top: 80px;
}
footer{
	height: 50px;
	width: 100%;
	display: flex;
	justify-content: center;
}
footer h3{
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 14px;
	color: #BDBDBD;
}
footer a{
	font-weight: 700;
	color: #BDBDBD;
}

@media screen and (max-width:500px){

	header{
		width: 90%;
		flex-direction: column;
	}
	.title{
		width: 100%;
		padding: 20px 0 0 0;
	} 
	.description{
		width: 100%;
		padding: 0;
		justify-content: center;
	}
	.description p{
		width: 300px;
		font-size: 14px;
	}
	.crew{
		width: 380px;
		height: 100%;
		padding-top: 30px;
		grid-template-columns:repeat(2,auto);
	}
	.cinco{
		padding: 0;
	}
	.cuatro, .seis{
		padding-top: 50px;
	}
	.member h3{
		padding-left: 5px;
		font-size: 10px;
	}
	.member h2{
		font-size:14px;
	}
	footer{
		height:20vh;
		align-items: flex-end;
		padding-bottom: 20px;
	}
}


